# Default values for job-cleaner.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: webtor/job-cleaner
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""
schedule: "*/5 * * * *"

rbac:
  create: true

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
